page-sign-up {

  .countryCode{
    display: inline;
  }
  .input{
    display: inline;
  }

  .test{
    display: inline-block;
  }
  .phone{
    // display: inline-block;
  }
  .noLeftPadding{
    padding-left: 0px;
  }

  .countryLabel{
    width: 5vw;
  }

}
